ion-content {
  --background: #c18de1;
}

ion-button {
  --background: #e2e415;
  margin-top: 25px;
  color: #000000;
}

#bienvenida {
  text-align: center;
}

#bienvenida img {
  height: auto;
  width: 270px;
}

#letrasbienvenida {
  margin-top: 20px;
}

#bienvenida strong {
  font-size: 20px;
}
